.header-container{
  padding-top: 50px;
  display: flex;
  background-color: #141D2F;
  align-items: center;
  padding-bottom: 20px;
  .my-image-container{
    position: relative;
   .my-image{
    position: relative;
    z-index: 1;
    left: 50px;
    top: 50px;
    height: 800px;
    object-fit: cover;
   }
   .header-purple-shadow{
    position: absolute;
    left: -90px;
    top: 100px;
    height: 900px;
   }
   .header-turkis-shadow{
    position: absolute;
    right: -180px;
    top: 140px;
   }
  }
  .performance-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 200px;
    .performance-container-font{
      display: flex;
      align-items: center;
      span{
        display: flex;
        color: white;
        transform: rotate(-90deg);
        font-size: 70px;
      }
      h1{
        margin: 0;
        color: white;
        font-size: 84px;
      }
      h2{
        margin: 0;
        color: #4B47FF;
        font-size: 56px;
        font-weight: 400;
      }
    }
    .button-container{
      height: 1px;
      margin-top: 25px;
      position: relative;
      z-index: 1000;
      button{
        background-color: #00BEE8;
        border-style: unset;
        width: 175px;
        height: 60px;
        padding: 16px;
        border-radius: 8px;
        color: white;
        font-size: 24px;
        cursor: pointer;
        transition: 0.1s ease;
        &:hover{
          width: 185px;
          height: 70px;
          background-color: #4B47FF;
        }
      }
    }
  }
}

.my-name-and-job-container{
  margin-left: -10px;
}
