<header class="header-container" id="header-section">
  <div class="my-image-container">
    <img
      class="header-purple-shadow"
      src="/assets/img/shadows/purple-shadow2.png"
    />
    <img
      class="header-turkis-shadow"
      src="/assets/img/shadows/turkis-shadow3.png"
    />
    <img class="my-image" src="/assets/img/portfolio-img2.png" />
  </div>
  <div class="performance-container">
    <div class="performance-container-font">
      <div>
        <span>I am</span>
      </div>
      <div class="my-name-and-job-container">
        <h1>Niels Scholz</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <div class="button-container">
      <button class="animated-button" (click)="navigateToSection()">
        <div class="button-content">
          <span class="text">Let's talk!</span>
        </div>
      </button>
    </div>
  </div>
</header>
