<footer class="footer">
  <div class="footer-left">
    <span>Niels</span>
    <a class="imprint" href="#">Imprint</a>
  </div>
  <span class="footer-middle">&copy; Niels Scholz 2023</span>
  <div class="footer-right">
    <a href="https://github.com/niels-2005" target="_blank">
      <img src="/assets/img/icons/github-img.png" />
    </a>
    <a href="mailto: niels.scholz01@web.de">
      <img src="/assets/img/icons/message-img.png" />
    </a>
    <a href="#" target="_blank">
      <img src="/assets/img/icons/linkedin-img.png" />
    </a>
  </div>
</footer>
