<!-- <img
  class="about-me-purple-shadow"
  src="/assets/img/shadows/purple-shadow.png"
/> -->
<div class="about-me-container" id="about-me">
  <div class="about-me-text-container">
    <h1>About me</h1>
    <p>
      Hello! I'm an ambitious frontend developer based near Magdeburg, inspired
      by the infinite potential of IT. I delight in crafting user-friendly
      websites and applications that are both visually appealing and intuitive.
    </p>
    <div class="image-with-text-container-lamp">
      <img src="/assets/img/icons/lamp.png" />
      <span
        >I see coding as a creative challenge rather than a technical task, and
        take pride in converting complex problems into simple solutions. I
        believe in helping people achieve their goals, turning their visions
        into reality through my work.</span
      >
    </div>
    <div class="image-with-text-container-puzzle">
      <img src="/assets/img/icons/puzzle.png" />
      <span
        >My work ethic is defined by my eagerness to learn, my rapid
        adaptability, and my excellent people skills, all of which are bolstered
        by a strong focus on clean coding. Being part of this dynamic industry
        allows me to shape the digital world and explore the vast creative
        possibilities within IT, driving my passion every day.</span
      >
    </div>
  </div>
  <div class="image-container">
    <div class="circle-image">
      <img src="/assets/img/portfolio-img3.png" />
    </div>
    <div class="line"></div>
  </div>
</div>
