<img
  class="about-me-purple-shadow"
  src="/assets/img/shadows/purple-shadow.png"
/>
<div class="about-me-container">
  <div class="about-me-text-container">
    <h1>About me</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus minus fuga
      omnis excepturi doloribus vitae harum animi impedit aliquid magni. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Illo quasi nostrum
      magni qui ex? Aspernatur asperiores eaque eveniet adipisci temporibus!
    </p>
    <div class="image-with-text-container-lamp">
      <img src="/assets/img/icons/lamp.png" />
      <span
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut rem quas
        labore atque corporis, magni veniam nisi non optio similique.</span
      >
    </div>
    <div class="image-with-text-container-puzzle">
      <img src="/assets/img/icons/puzzle.png" />
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ab
        officia iste quo. Expedita itaque voluptatum, autem deserunt aliquam
        repellat!</span
      >
    </div>
  </div>
  <div class="image-container">
    <div class="circle-image">
      <img src="/assets/img/men-face-img.png" />
    </div>
    <div class="line"></div>
  </div>
</div>
