<div class="about-me-container" id="about-me">
  <div class="about-me-text-container" data-aos="fade-right">
    <h1>About me</h1>
    <p>
      Hi! I'm an ambitious front-end developer near Magdeburg, inspired by the
      endless potential of IT. I take great pleasure in creating user-friendly
      websites and applications that are both visually appealing and intuitive.
    </p>
    <div class="image-with-text-container-lamp">
      <img src="/assets/img/icons/lamp.png" />
      <span
        >I see coding as a creative challenge rather than a technical task, and
        take pride in converting complex problems into simple solutions. I
        believe in helping people achieve their goals, turning their visions
        into reality through my work.</span
      >
    </div>
    <div class="image-with-text-container-puzzle">
      <img src="/assets/img/icons/puzzle.png" />
      <span
        >My work ethic is defined by my willingness to learn, quick
        adaptability, and excellent interpersonal skills, all reinforced by a
        strong focus on clean programming. Being part of this dynamic industry
        allows me to help shape the digital world and explore the vast creative
        possibilities within IT, which drives my passion every day.</span
      >
    </div>
  </div>
  <div class="image-container" data-aos="fade-left">
    <div class="circle-image">
      <img src="/assets/img/portfolio-img3.png" />
    </div>
    <div class="line"></div>
  </div>
</div>
