<div class="portfolio-epl-container">
  <div class="epl-informations" data-aos="fade-right">
    <h2>El Pollo Loco</h2>
    <span>JavaScript | HTML | CSS</span>
    <p>
      Jump, run and throw game based on object-oriented approach. Help Pepe to
      find coins and tabasco salsa to fight against the crazy hen.
    </p>
    <div class="epl-button-container">
      <button class="live-test-button">Live test</button>
      <button class="github-button">Github</button>
    </div>
  </div>
  <div class="epl-laptop" data-aos="flip-right">
    <img src="/assets/img/icons/Polloloco-img.png" />
  </div>
</div>
