<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-left">
      <span routerLink="/" (click)="navigateToSection()"
        >N<span style="color: #00bee8">i</span>el<span style="color: #4b47ff"
          >s</span
        ></span
      >
    </div>
    <div class="navbar-right-links">
      <a class="links" *ngIf="!imprintSite" href="#about-me">About me</a>
      <a class="links" *ngIf="!imprintSite" href="#skills-section">Skills</a>
      <a class="links" *ngIf="!imprintSite" href="#portfolio-section"
        >Portfolio</a
      >
      <a class="links" *ngIf="imprintSite" routerLink="/">Home</a>
    </div>
    <div id="menuToggle">
      <input type="checkbox" #menuToggleInput />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="#about-me" #menuLink><li>About me</li></a>
        <a href="#skills-section" #menuLink><li>My Skills</li></a>
        <a href="#portfolio-section" #menuLink><li>Portfolio</li></a>
        <a href="#contact-section" #menuLink><li>Contact</li></a>
      </ul>
    </div>
  </div>
</nav>
