.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  .navbar-content{
  background-color: #141D2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  .navbar-left{
    margin-left: 65px;
    span{
      cursor: pointer;
      font-size: 32px;
      color: white;
      font-weight: 800;
    }
  }
  .navbar-right-links {
    margin-right: 75px;
    .links {
      font-size: 24px;
      text-decoration: none;
      color: white;
      margin-left: 40px;
      position: relative;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 2px;
        background: #4B47FF;  /* Update this to change the underline color */
        transition: width 0.2s ease-in-out;
      }
      &:hover {
        color: #00BEE8;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
}

