<div class="portfolio-crm-container">
  <div class="crm-laptop" data-aos="flip-left">
    <img src="/assets/img/icons/simple-crm.png" />
  </div>
  <div class="crm-informations" data-aos="fade-left">
    <h2>Simple CRM</h2>
    <span>Angular | Firebase</span>
    <p>
      A very simple Customer Relationship Management system working with CRUD
      functionality.
    </p>
    <div class="crm-button-container">
      <button class="live-test-button">Live test</button>
      <a href="https://github.com/niels-2005/simpleCRM" target="_blank"
        ><button class="github-button">Github</button></a
      >
    </div>
  </div>
</div>
