.contact-headline-container{
  display: flex;
  align-items: center;
  background-color: #141D2F;
  gap: 30px;
  h1{
    color: white;
    font-size: 84px;
  }
}

.purple-line{
  height: 5px;
  width: 50px;
  background-color: #4B47FF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-me-container{
  background-color: #141D2F;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-bottom: 100px;
}

.solving-problem-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  h2{
    margin-top: 0;
    color: white;
    font-size: 40px;
  }
  p{
    color: white;
    font-size: 20px;
  }
  span{
    color: white;
    font-size: 20px;
  }
}

.form-container{
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .input-bg-warning {
    background: url('/assets/img/red-alert.png') no-repeat scroll 15px 15px !important;
    background-position: calc(100% - 15px) 15px !important;
}
  .transparent {
    color: transparent;
}
input.has-content,
textarea.has-content {
    border-color: #54AC15 !important;
}
input.empty-focused,
textarea.empty-focused {
    border-color: #E61C40 !important;
}
input:focus,
textarea:focus {
    background: #141D2F;
    color: white;
    border: 1px solid #E61C40;
    outline: none;
}
input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}
  input{
    font-family: 'poppins';
    background-color: #141D2F;
    padding: 16px;
    border-style: unset;
    border: 1px solid #4B47FF;
    border-radius: 8px;
    width: 800px;
    color: white;
    font-size: 20px;
    transition: border 0.1s ease;
    &::placeholder{
      color: white;
      font-size: 20px;
    }
    &:hover{
      border: 1px solid #00BEE8;
      cursor: pointer;
    }
  }
  textarea{
    padding: 16px;
    font-size: 20px;
    font-family: 'poppins';
    background-color: #141D2F;
    border-style: unset;
    border: 1px solid #4B47FF;
    border-radius: 8px;
    color: white;
    width: 800px;
    height: 150px;
    resize: none;
    background: url('/assets/img/textarea-symbol.png') no-repeat;
    background-origin: content-box;
    background-position: right -8px bottom -8px;
    &::placeholder{
      color: white;
      font-size: 20px;
    }
    &:hover{
      border: 1px solid #00BEE8;
      cursor: pointer;
    }

  }
  button{
      background-color: #00BEE8;
      border-style: unset;
      width: 250px;
      height: 60px;
      padding: 16px;
      border-radius: 8px;
      color: white;
      font-size: 24px;
      cursor: pointer;
      transition: 0.1s ease;
      &:hover{
        width: 260px;
        height: 70px;
        background-color: #4B47FF;
    }}
  }

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  span{
    color: #E61C40;
    font-size: 18px;
  }
  img {
    position: absolute;
    right: 16px;
    top: 16px;
}
}

.d-none{
  display: none !important;
}

.contact-button.send-button.sent {
  animation: shrinkButton 1s ease-in-out forwards, zoomOut 1s ease-in-out forwards 0.8s;
}

@keyframes shrinkButton {
  100% {
    width: 0;
  }
}

@keyframes zoomOut{
  100%{
    width: 80%;
  }
}


