<div class="icon-email-container">
  <img class="curved-background" src="/assets/img/icons/background.png" />
  <div class="icon-email-container-left">
    <div class="purple-line"></div>
    <a href="https://github.com/niels-2005" target="_blank">
      <img src="/assets/img/icons/github-img.png" />
    </a>
    <a href="mailto: niels.scholz01@web.de">
      <img src="/assets/img/icons/message-img.png" />
    </a>
    <a
      href="https://www.linkedin.com/in/niels-scholz-ba1883278/"
      target="_blank"
    >
      <img src="/assets/img/icons/linkedin-img.png" />
    </a>
    <a class="email-link" href="#contact-section">mail@niels-scholz.com</a>
  </div>
  <div class="scroll-down-container">
    <span>Scroll down</span>
    <img src="/assets/img/icons/arrow.png" />
  </div>
</div>
