.icon-email-container{
  display: flex;
  justify-content: space-between;
}

.curved-background{
  width: 100vw;
  position: absolute;
  top: 235px;
  left: -5px;
  z-index: 100;
}

.icon-email-container-left {
  margin-top: -90px;
  position: relative;
  z-index: 150;
  display: flex;
  align-items: center;
  gap: 40px;
  img{
    height: 40px;
    cursor: pointer;
    &:hover{
      animation: spin 2s linear infinite;
    }
  }
  .email-link {
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    line-height: 30px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 2px;
      background: #4B47FF;
      transition: width 0.2s ease-in-out;
    }
    &:hover {
      color: #00BEE8;
      &::after {
        width: 100%;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.purple-line{
  height: 5px;
  width: 95px;
  background-color: #4B47FF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.scroll-down-container{
  position: relative;
  z-index: 20000;
  display: flex;
  gap: 75px;
  flex-direction: column;
  margin-right: 40px;
  span{
    display: flex;
    font-size: 32px;
    color: white;
    transform: rotate(90deg) translateX(-80px) translateY(-2px);
  }
  img{
    height: 25px;
    object-fit: contain;
    animation: upAndDown 2s ease-in-out infinite;
  }
}

@keyframes upAndDown {
  0% { transform: translateY(-70px);  }
  50% { transform: translateY(-90px); }
  100% { transform: translateY(-70px); }
}
