<div class="icon-email-container">
  <img class="curved-background" src="/assets/img/icons/background.png" />
  <div class="icon-email-container-left">
    <div class="purple-line"></div>
    <img src="/assets/img/icons/github-img.png" />
    <img src="/assets/img/icons/message-img.png" />
    <img src="/assets/img/icons/linkedin-img.png" />
    <a>niels.scholz01@web.de</a>
  </div>
  <div class="scroll-down-container">
    <span>Scroll down</span>
    <img src="/assets/img/icons/arrow.png" />
  </div>
</div>
