<div id="skills-section"></div>
<div class="skill-container">
  <div class="icon-container" data-aos="fade-up-right">
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/Angular-img.png" />
      <span class="skill-span">Angular</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/typescript-img.png" />
      <span class="skill-span">TypeScript</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/Javascript-img.png" />
      <span class="skill-span">JavaScript</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/html-img.png" />
      <span class="skill-span">HTML</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/css-img.png" />
      <span class="skill-span">CSS</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/git.png" />
      <span class="skill-span">GIT</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/Firebase-img.png" />
      <span class="skill-span">Firebase</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/api-img.png" />
      <span class="skill-span">API´s</span>
    </div>
    <div class="icon">
      <img class="skill-image" src="/assets/img/icons/scrum-img.png" />
      <span class="skill-span">Scrum</span>
    </div>
    <div class="material-design-animation">
      <img src="/assets/img/icons/material-design.png" />
      <span
        >Material <br />
        Design</span
      >
    </div>
  </div>
  <div class="skills-font-container" data-aos="fade-up-left">
    <h1>My Skills</h1>
    <span>
      I have grown my frontend developments skills that have allowed me to
      create different real projects.
    </span>
    <div class="button-container">
      <button (click)="navigateToSection()">Get in touch</button>
    </div>
  </div>
  <div class="purple-line"></div>
</div>
