<div class="portfolio-join-container">
  <div class="join-laptop">
    <img src="/assets/img/icons/join-img.png" />
  </div>
  <div class="join-informations">
    <h2>Join</h2>
    <span>Angular | TypeScript | HTML | CSS | Firebase</span>
    <p>
      Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </p>
    <div class="join-button-container">
      <button class="live-test-button">Live test</button>
      <button class="github-button">Github</button>
    </div>
  </div>
</div>
